<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="my-icons.html">


<link rel="lazy-import" href="register-login.html">
<link rel="lazy-import" href="panel-bienvenida.html">
<link rel="lazy-import" href="consulta-movimiento.html">
<link rel="lazy-import" href="alta-movimiento.html">
<link rel="lazy-import" href="not-found.html">
<link rel="import" href="log-out.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        /*Color de Marquesina superior*/
        --app-primary-color: #FA8072;
        /*Color de texto del Menu*/
        --app-secondary-color: black;
        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        /*color de Texto de Marquesina*/
        color: #000000;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;

      }
      /*Color de Menu*/
      .drawer-list a {
        display: block;
        padding: 0 30px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
        background-color: #FAD7A0;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      /*Tamaño de letra*/
      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 18px;
      }

      /*Posicionamiento del Logut*/
      app-header .greeting {
        border-right: 1px solid rgba(250, 250, 250, .5);
        display: inline-block;
        padding-right: 620px;
      }


      /*Posicionamiento y Color del Bloque Menu*/
      app-toolbar {
        padding: 0 80px;
        background-color: #BDB0B1;

      }


    </style>

    <!--Query  movimientos -->

    <iron-ajax id="queryMovement"
      content-type="application/json"
      handle-as="text"
      method="get"
      on-response="handleMovementsResponse"
      on-error="handleUserError">
    </iron-ajax>

    <!-- Obtiene cuenta asociada al cliente -->

    <iron-ajax id="queryAccounts"
      content-type="application/json"
      handle-as="text"
      method="get"
      on-response="handleAccountResponse"
      on-error="handleUserError">
    </iron-ajax>


    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <div name="register-login">
            <a href="[[rootPath]]register-login" icon='favorite'>Inicio</a>
          </div>
          <div name="panel-bienvenida" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]panel-bienvenida">Panel de Bienvenida</a>
          </div>
          <div name="consulta-movimiento" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]consulta-movimiento" on-tap="queryAccounts">Consulta de Movimientos</a>
          </div>
          <div name="alta-movimiento" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]alta-movimiento">Alta Movimientos</a>
          </div>
        </iron-selector>
      </app-drawer>

      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <a name="register-login" href="[[rootPath]]register-login" hidden$="[[storedUser.loggedin]]">Log in</a>
            <div hidden$="[[!storedUser.loggedin]]">
              <span class="greeting">Hola [[storedUser.name]]!</span>
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="not-found" role="main">
          <register-login name="register-login"></register-login>
          <panel-bienvenida name="panel-bienvenida"></panel-bienvenida>
          <consulta-movimiento id="loadingConsulta" name="consulta-movimiento" movementData={{movementData}} accountData={{accountData}}
            newmovements={{newmovements}} hasMovement="{{hasMovement}}" hasmoredata="{{hasmoredata}}">
          </consulta-movimiento>
          <consulta-cuentas id="loadingCuentas" name="consulta-cuentas" cuentasData={{cuentasData}}
            newcuentas={{newcuentas}} hasCuentas="{{hasCuentas}}" hasmoredata="{{hasmoredata}}">


        </consulta-cuentas>
          <alta-movimiento name="alta-movimiento"></alta-movimiento>
          <register-user name="register-user"></register-user>
          <not-found name="not-found"></not-found>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
      class MyApp extends Polymer.Element {
          static get is() {
            return 'my-app';
          }

          static get properties() {
            return {
              page: {
                type: String,
                reflectToAttribute: true,
                observer: '_pageChanged',
              },

              accountData: {
                type: Object,
                value: {},
                notify: true
              },
              newmovements: {
                type: Array,
                value: function () {
                  return [];
                }
              },
              hasMovement: {
                type: Boolean,
                notify: false,
                observer: 'loadingMovement'

              },
              hasmoredata: {
                type: Boolean,
                value: false
              },
              showMovement: {
                type: Boolean,
                value: true,
                notify: true
              },
              routeData: Object,
              subroute: String,
              rootPath: String,
              storedUser: Object
            };
          }

          static get observers() {
            return [
              '_routePageChanged(routeData.page)',
            ];
          }

          ready(){
            super.ready();
            this.movementData={};
          }

          ready(){
            super.ready();
            this.accountData={};
          }



          loadingMovement(hasMovement) {
            this.$.loadingConsulta.movementData = this.movementData;
          }

          queryMovements() {

            console.log("estoy en el query movements");
            this.$.queryMovement.url = 'http://localhost:3000/api/1/movimientos/'+ this.storedUser.id_token + '&'+this.storedUser.access_cta;
            this.$.queryMovement.generateRequest();
          }

          queryAccounts() {
            console.log("estoy en queryAccounts");
            this.$.queryAccounts.url = 'http://localhost:3000/api/1/clientes-productos/'+ this.storedUser.id_token;
            this.$.queryAccounts.generateRequest();
          }

          handleAccountResponse(event) {

            let status = event.detail.status;
            let response = JSON.parse(event.detail.response);
            console.log("estoy en handle");
            console.log(response[0].idCliente);
            if (typeof response !== 'undefined' && typeof response[0] !== 'undefined' && status == 200) {
              let id = response[0].idCliente || 0;
              if (id == this.storedUser.id_token) {
                console.log("estoy dentro del if handelaccount");
                this.storedUser.access_cta = response[0].idCuenta;
                this.storedUser.desc_producto = response[0].descProducto;
                this.accountData.idCuenta = response[0].idCuenta;
                console.log(this.storedUser.access_cta);
                console.log(this.storedUser.desc_producto);
                this.queryMovements();
              }
            }else if(typeof response !== 'undefined' && status == 200){
              this.error = 'El Usuario que intenta registrar ya existe, intentelo nuevamente.';
              this.set('route.path', '/register-user');
            }else{
              this.error  = "Datos incorrectos!";
            }
            // reset form data
            // this.formData = {};
            }


          handleMovementsResponse(event) {
            let status = event.detail.status;
            let response = JSON.parse(event.detail.response);
            if (typeof response !== 'undefined' && response.length > 0) {
              this.set('movementData.Cliente', this.storedUser.id_token);
              this.set('movementData.idCuenta', this.storedUser.access_token);
              this.set('movementData.descProducto', this.storedUser.desc_producto);
              this.set('movementData.fhVencimiento', this.storedUser.fh_vencimiento);
              console.log(response[0].movimientos);
              console.log("antes de entrar a if de response.movimientos")
              if (response[0].movimientos.length > 0) {
                this.set('newmovements', response[0].movimientos);
                console.log(response[0].movimientos);
                this.hasmoredata = true;
              }
                this.hasMovement = true;
              } else {
                this.hasMovement = false;
                this.hasmoredata = false;
              }
            }
            _routePageChanged(page) {
              this.page = page || 'register-login';

              if (!this.$.drawer.persistent) {
                this.$.drawer.close();
              }
            }

            _pageChanged(page) {

              var resolvedPageUrl = this.resolveUrl(page + '.html');
              Polymer.importHref(
                resolvedPageUrl,
                null,
                this._showPage404.bind(this),
                true);
            }

            _showPage404() {
              this.page = 'not-found';
            }
          }

          window.customElements.define(MyApp.is, MyApp);
    </script>
  </dom-module>
