<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="not-found">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    <h1><center>SISTEMA DE INFORMACIÓN FINANCIERA</h1></center>
    <p></p>
    <p style=”text-align: justify;”>Utiliza tu Sistema Financiero en línea para poder consultar
    movimientos recientes en tus cuentas, dar de alta movimientos y tener un mejor manejo en tus
    finanzas. Para comenzar a utilizarlo debes de registrarte como nuevo usuario y hacer Log In
    para iniciar tu sesión. Sí ya estas registrado simplemente accesa con tu clave de Cliente y
    dtu Passsword.
    </p>

    <div class='imagen'>
    <center><img src="./images/logo.jpg" height="330px" width="430px"></center>

    </div>

  </template>



  <script>
      class NotFound extends Polymer.Element {
          static get is() { return 'not-found'; }
          static get properties() {
              return {

                  rootPath: String,
              };
          }
      }

      window.customElements.define(NotFound.is, NotFound);
  </script>
</dom-module>
